*{
    margin: 0;
    padding: 0;
}
nav{
  padding: 30px;
}
.nav-cntainer{
    display: flex;
gap: 15px;

}
.nav-img{
  
}
.nav-cntainer h1{
    font-size: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:#ffff;
    align-items: center;
 
}
.nav-text-container a{
    text-decoration: none;
    /* padding-top: 40px; */
    font-size: 20px;

}
.nav-text-container{
    display: flex;
    gap: 30px;
}
.nav-logo{
    display: flex;
    background-color: aliceblue;

align-items: center;
    display: flex;
    font-weight: 700;
    border-radius: 5px;
gap: 5px;
}
.nav-text-two{
    color: #F948B2;
}
.main-text-container{
    color: #F948B2;
}
.main-container{
    flex-direction: column;
    align-items: center;
    background-image: url(./B8A2-Gamer-Zone/images/Group\ 14.png);
    padding-left: 20px;
    background-size: cover;
    flex: 1;
    width: 1200px;
    display: flex;
    justify-content: center;
}
.main-container-texts{
    padding: 20px;
}
.main-container-texts * {
    margin: 15px 0;

}
.main-container-img{
    flex: 1;
}
.main-container h1{
    font-size: 50px;
    
}

.main-container h2{
   padding-left: 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
   
  
    border-top: 20px;
}
.main-btn{
    border: 1px solid aliceblue;
    background-color: #F948B2;
    border-radius: 15px;
    height: 40px;
    width: 100px;
}
.main-btn-two{
    border: 1px solid aliceblue;
    background-color: #4EC5F7;
    border-radius: 15px;
    height: 40px;
  
    width: 100px;
}
.padiing-to{
    padding-top: 50px;
}
.container{
    width: 1200px; 
    display: flex;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    
}
.section-container *{margin: 10px 0;
    
}
.section-container-two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section-container-two{
    display: flex;
    align-items: center;
    justify-content: center;
}
    .section-text {

        align-items: center;
        justify-content: center;
    }
    .btn-two{
        color: #F948B2;
    }
.three-img-one{
   
    position: absolute;
 top: 50%;
 right: 50%;
 transform: translate(50%, -50%);
 color: white;
}
.section-img-three{
    position: relative;
}
.btn{
    color: #F948B2;
    padding-right: 10px;
}
.second-sec-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.second-sec-text h1{
    font-size: 30px;
    padding-bottom: 10px;
}
.second-sec-text{
  
position: relative;
}
.sec-third-img{
top: 50%;
right: 50%;
transform: translate(-20%,-70%);
}

.third-sec-con{
    background-color: white;
    display: flex;
    align-items: center;
  border-radius: 50rem;
    border: 1px solid gray;
    width: 180px;
    padding: 10px ;
    
}
.third-sec-con p{
   margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
}
.third-sec-con img{
    height: 40px;
    width: 40px;
}
.icons{
  flex-wrap: wrap;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 1200px;
}

.footer-container{
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 40px;
   text-decoration: none;
   padding-top: 20px;
}

.nav-cntainer-six{
padding: 20px;
    display: flex;
    align-items: center;
   justify-content: center;
}
footer{
    background-color: black;
    height: auto;
}
.btn-none{
    color: white;
}
.footer-container-two{
 margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.btn-done{
    color: gray;
}
.footer-sec-last{
    border-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.footer-last{
    display: flex;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.footer-very-last{
    max-width: 300px;
    }
  
.bing-bang{
    color: #F948B2;
}
.second-sec-img {
   height: 780px;
   width: 720px;
}
.sec-third-img{

}
.footer-very-last{
    display: grid;
    grid-template-columns: (2,3fr);
}
.footer-sec-last{
    display: grid;
    grid-template-columns: (2,3fr);
}






