@media screen and (max-width: 425px) {
    nav{
        flex-direction: column;
    }
    .nav-text-container{
        flex-direction: column;
    }
    .nav-cntainer{
        flex-direction: column;
    }
    .nav-img{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .main-container{
        flex-direction: column;
        width: 100%;
    }
    .main-container-img{
        flex-direction: column;
        
    }
    .main-container img{
        width: 100%;
    }
    .section-container{
        flex-direction: column;
    }
   .section-container-two{
    flex-direction: column;
   }
   
    
   
}
